<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfzn.firemaster.dao.InfoComponentDao">
    <resultMap id="BaseResultMap" type="com.zfzn.firemaster.domain.od.InfoComponent">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sys_type" jdbcType="INTEGER" property="sysType"/>
        <result column="sys_addr" jdbcType="INTEGER" property="sysAddr"/>
        <result column="component_type" jdbcType="INTEGER" property="componentType"/>
        <result column="component_addr" jdbcType="INTEGER" property="componentAddr"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, sys_type, sys_addr, component_type, component_addr, gmt_create, gmt_modified
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM info_component
        WHERE id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        DELETE FROM info_component
        WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.zfzn.firemaster.domain.od.InfoComponent">
        INSERT INTO info_component (id, sys_type, sys_addr,
        component_type, component_addr, gmt_create,
        gmt_modified)
        VALUES (#{id,jdbcType=INTEGER}, #{sysType,jdbcType=INTEGER}, #{sysAddr,jdbcType=INTEGER},
        #{componentType,jdbcType=INTEGER}, #{componentAddr,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP},
        #{gmtModified,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.zfzn.firemaster.domain.od.InfoComponent">
        INSERT INTO info_component
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sysType != null">
                sys_type,
            </if>
            <if test="sysAddr != null">
                sys_addr,
            </if>
            <if test="componentType != null">
                component_type,
            </if>
            <if test="componentAddr != null">
                component_addr,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModified != null">
                gmt_modified,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="sysType != null">
                #{sysType,jdbcType=INTEGER},
            </if>
            <if test="sysAddr != null">
                #{sysAddr,jdbcType=INTEGER},
            </if>
            <if test="componentType != null">
                #{componentType,jdbcType=INTEGER},
            </if>
            <if test="componentAddr != null">
                #{componentAddr,jdbcType=INTEGER},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModified != null">
                #{gmtModified,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <select id="checkDitto" parameterType="java.util.List" resultType="java.lang.Integer">
        SELECT component_addr
        FROM info_component
        WHERE component_addr IN
        <foreach collection="list" item="item" index="index" separator="," open="(" close=")">
            #{item.componentAddr,jdbcType=INTEGER}
        </foreach>
    </select>

    <insert id="insertAll" parameterType="java.util.List">
        INSERT INTO info_component
        (sys_type, sys_addr, component_type, component_addr)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.sysType,jdbcType=INTEGER}, #{item.sysAddr,jdbcType=INTEGER},
            #{item.componentType,jdbcType=INTEGER}, #{item.componentAddr,jdbcType=INTEGER}
            )
        </foreach>
    </insert>
</mapper>