<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfzn.firemaster.dao.PackOriginalDao">
    <resultMap id="BaseResultMap" type="com.zfzn.firemaster.domain.od.PackOriginal">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="host" jdbcType="CHAR" property="host"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="memo" jdbcType="VARCHAR" property="memo"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, host, content, gmt_create, memo
    </sql>
    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM pack_original
        WHERE id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM pack_original
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.zfzn.firemaster.domain.od.PackOriginal">
        INSERT INTO pack_original (id, host, content, 
        memo)
        VALUES (#{id,jdbcType=BIGINT}, #{host,jdbcType=CHAR}, #{content,jdbcType=VARCHAR}, 
        #{memo,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.zfzn.firemaster.domain.od.PackOriginal">
        INSERT INTO pack_original
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="host != null">
                host,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="memo != null">
                memo,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="host != null">
                #{host,jdbcType=CHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByIdSelective" parameterType="com.zfzn.firemaster.domain.od.PackOriginal">
        UPDATE pack_original
        <set>
            <if test="host != null">
                host = #{host,jdbcType=CHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                memo = #{memo,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateById" parameterType="com.zfzn.firemaster.domain.od.PackOriginal">
        UPDATE pack_original
        SET host = #{host,jdbcType=CHAR},
        content = #{content,jdbcType=VARCHAR},
        memo = #{memo,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType=BIGINT}
    </update>
</mapper>