<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfzn.firemaster.dao.StatusRecordSystemDao">
    <resultMap id="BaseResultMap" type="com.zfzn.firemaster.domain.od.StatusRecordSystem">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sys_code" jdbcType="INTEGER" property="sysCode"/>
        <result column="sys_type" jdbcType="INTEGER" property="sysType"/>
        <result column="normal_run" jdbcType="TINYINT" property="normalRun"/>
        <result column="fire_alarm" jdbcType="TINYINT" property="fireAlarm"/>
        <result column="breakdown" jdbcType="TINYINT" property="breakdown"/>
        <result column="shield" jdbcType="TINYINT" property="shield"/>
        <result column="supervision" jdbcType="TINYINT" property="supervision"/>
        <result column="started" jdbcType="TINYINT" property="started"/>
        <result column="feedback" jdbcType="TINYINT" property="feedback"/>
        <result column="delay" jdbcType="TINYINT" property="delay"/>
        <result column="main_power_failure" jdbcType="TINYINT" property="mainPowerFailure"/>
        <result column="backup_power_failure" jdbcType="TINYINT" property="backupPowerFailure"/>
        <result column="bus_failure" jdbcType="TINYINT" property="busFailure"/>
        <result column="manual_status" jdbcType="TINYINT" property="manualStatus"/>
        <result column="deploy_change" jdbcType="TINYINT" property="deployChange"/>
        <result column="reset" jdbcType="TINYINT" property="reset"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, sys_code, sys_type, normal_run, fire_alarm, breakdown, shield, supervision, started, 
        feedback, delay, main_power_failure, backup_power_failure, bus_failure, manual_status, 
        deploy_change, reset, gmt_create
    </sql>
    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM status_record_system
        WHERE id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM status_record_system
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.zfzn.firemaster.domain.od.StatusRecordSystem">
        INSERT INTO status_record_system (id, sys_code, sys_type,
        normal_run, fire_alarm, breakdown,
        shield, supervision, started,
        feedback, delay, main_power_failure,
        backup_power_failure, bus_failure, manual_status,
        deploy_change, reset, gmt_create
        )
        VALUES (#{id,jdbcType=BIGINT}, #{sysCode,jdbcType=INTEGER}, #{sysType,jdbcType=INTEGER},
        #{normalRun,jdbcType=TINYINT}, #{fireAlarm,jdbcType=TINYINT}, #{breakdown,jdbcType=TINYINT},
        #{shield,jdbcType=TINYINT}, #{supervision,jdbcType=TINYINT}, #{started,jdbcType=TINYINT},
        #{feedback,jdbcType=TINYINT}, #{delay,jdbcType=TINYINT}, #{mainPowerFailure,jdbcType=TINYINT},
        #{backupPowerFailure,jdbcType=TINYINT}, #{busFailure,jdbcType=TINYINT}, #{manualStatus,jdbcType=TINYINT},
        #{deployChange,jdbcType=TINYINT}, #{reset,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.zfzn.firemaster.domain.od.StatusRecordSystem">
        INSERT INTO status_record_system
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sysCode != null">
                sys_code,
            </if>
            <if test="sysType != null">
                sys_type,
            </if>
            <if test="normalRun != null">
                normal_run,
            </if>
            <if test="fireAlarm != null">
                fire_alarm,
            </if>
            <if test="breakdown != null">
                breakdown,
            </if>
            <if test="shield != null">
                shield,
            </if>
            <if test="supervision != null">
                supervision,
            </if>
            <if test="started != null">
                started,
            </if>
            <if test="feedback != null">
                feedback,
            </if>
            <if test="delay != null">
                delay,
            </if>
            <if test="mainPowerFailure != null">
                main_power_failure,
            </if>
            <if test="backupPowerFailure != null">
                backup_power_failure,
            </if>
            <if test="busFailure != null">
                bus_failure,
            </if>
            <if test="manualStatus != null">
                manual_status,
            </if>
            <if test="deployChange != null">
                deploy_change,
            </if>
            <if test="reset != null">
                reset,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="sysCode != null">
                #{sysCode,jdbcType=INTEGER},
            </if>
            <if test="sysType != null">
                #{sysType,jdbcType=INTEGER},
            </if>
            <if test="normalRun != null">
                #{normalRun,jdbcType=TINYINT},
            </if>
            <if test="fireAlarm != null">
                #{fireAlarm,jdbcType=TINYINT},
            </if>
            <if test="breakdown != null">
                #{breakdown,jdbcType=TINYINT},
            </if>
            <if test="shield != null">
                #{shield,jdbcType=TINYINT},
            </if>
            <if test="supervision != null">
                #{supervision,jdbcType=TINYINT},
            </if>
            <if test="started != null">
                #{started,jdbcType=TINYINT},
            </if>
            <if test="feedback != null">
                #{feedback,jdbcType=TINYINT},
            </if>
            <if test="delay != null">
                #{delay,jdbcType=TINYINT},
            </if>
            <if test="mainPowerFailure != null">
                #{mainPowerFailure,jdbcType=TINYINT},
            </if>
            <if test="backupPowerFailure != null">
                #{backupPowerFailure,jdbcType=TINYINT},
            </if>
            <if test="busFailure != null">
                #{busFailure,jdbcType=TINYINT},
            </if>
            <if test="manualStatus != null">
                #{manualStatus,jdbcType=TINYINT},
            </if>
            <if test="deployChange != null">
                #{deployChange,jdbcType=TINYINT},
            </if>
            <if test="reset != null">
                #{reset,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <insert id="insertAll" parameterType="java.util.List">
        INSERT INTO status_record_system
        (id, sys_code, sys_type, normal_run, fire_alarm, breakdown, shield, supervision, started,
        feedback, delay, main_power_failure, backup_power_failure, bus_failure, manual_status,
        deploy_change, reset, gmt_create)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=BIGINT}, #{item.sysCode,jdbcType=INTEGER}, #{item.sysType,jdbcType=INTEGER},
            #{item.normalRun,jdbcType=TINYINT}, #{item.fireAlarm,jdbcType=TINYINT}, #{item.breakdown,jdbcType=TINYINT},
            #{item.shield,jdbcType=TINYINT}, #{item.supervision,jdbcType=TINYINT}, #{item.started,jdbcType=TINYINT},
            #{item.feedback,jdbcType=TINYINT}, #{item.delay,jdbcType=TINYINT},
            #{item.mainPowerFailure,jdbcType=TINYINT},
            #{item.backupPowerFailure,jdbcType=TINYINT}, #{item.busFailure,jdbcType=TINYINT},
            #{item.manualStatus,jdbcType=TINYINT},
            #{item.deployChange,jdbcType=TINYINT}, #{item.reset,jdbcType=TINYINT}, #{item.gmtCreate,jdbcType=TIMESTAMP})
        </foreach>
    </insert>

    <select id="selectBySysAddr" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM status_record_system
        WHERE sys_code=#{sysCode,jdbcType=INTEGER}
        ORDER BY id
    </select>
</mapper>