<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zfzn.firemaster.dao.StatusRecordComponentDao">
    <resultMap id="BaseResultMap" type="com.zfzn.firemaster.domain.od.StatusRecordComponent">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="addr_code" jdbcType="INTEGER" property="addrCode"/>
        <result column="normal_run" jdbcType="TINYINT" property="normalRun"/>
        <result column="fire_alarm" jdbcType="TINYINT" property="fireAlarm"/>
        <result column="breakdown" jdbcType="TINYINT" property="breakdown"/>
        <result column="shield" jdbcType="TINYINT" property="shield"/>
        <result column="supervision" jdbcType="TINYINT" property="supervision"/>
        <result column="started" jdbcType="TINYINT" property="started"/>
        <result column="feedback" jdbcType="TINYINT" property="feedback"/>
        <result column="delay" jdbcType="TINYINT" property="delay"/>
        <result column="electricity_failure" jdbcType="TINYINT" property="electricityFailure"/>
        <result column="explanation" jdbcType="VARCHAR" property="explanation"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, addr_code, normal_run, fire_alarm, breakdown, shield, supervision, started, feedback,
        delay, electricity_failure, explanation, gmt_create
    </sql>
    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM status_record_component
        WHERE id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM status_record_component
        WHERE id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.zfzn.firemaster.domain.od.StatusRecordComponent">
        INSERT INTO status_record_component (id, addr_code, normal_run,
        fire_alarm, breakdown, shield,
        supervision, started, feedback,
        delay, electricity_failure, explanation,
        gmt_create)
        VALUES (#{id,jdbcType=BIGINT}, #{addrCode,jdbcType=INTEGER}, #{normalRun,jdbcType=TINYINT},
        #{fireAlarm,jdbcType=TINYINT}, #{breakdown,jdbcType=TINYINT}, #{shield,jdbcType=TINYINT},
        #{supervision,jdbcType=TINYINT}, #{started,jdbcType=TINYINT}, #{feedback,jdbcType=TINYINT},
        #{delay,jdbcType=TINYINT}, #{electricityFailure,jdbcType=TINYINT}, #{explanation,jdbcType=VARCHAR},
        #{gmtCreate,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.zfzn.firemaster.domain.od.StatusRecordComponent">
        INSERT INTO status_record_component
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="addrCode != null">
                addr_code,
            </if>
            <if test="normalRun != null">
                normal_run,
            </if>
            <if test="fireAlarm != null">
                fire_alarm,
            </if>
            <if test="breakdown != null">
                breakdown,
            </if>
            <if test="shield != null">
                shield,
            </if>
            <if test="supervision != null">
                supervision,
            </if>
            <if test="started != null">
                started,
            </if>
            <if test="feedback != null">
                feedback,
            </if>
            <if test="delay != null">
                delay,
            </if>
            <if test="electricityFailure != null">
                electricity_failure,
            </if>
            <if test="explanation != null">
                explanation,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="addrCode != null">
                #{addrCode,jdbcType=INTEGER},
            </if>
            <if test="normalRun != null">
                #{normalRun,jdbcType=TINYINT},
            </if>
            <if test="fireAlarm != null">
                #{fireAlarm,jdbcType=TINYINT},
            </if>
            <if test="breakdown != null">
                #{breakdown,jdbcType=TINYINT},
            </if>
            <if test="shield != null">
                #{shield,jdbcType=TINYINT},
            </if>
            <if test="supervision != null">
                #{supervision,jdbcType=TINYINT},
            </if>
            <if test="started != null">
                #{started,jdbcType=TINYINT},
            </if>
            <if test="feedback != null">
                #{feedback,jdbcType=TINYINT},
            </if>
            <if test="delay != null">
                #{delay,jdbcType=TINYINT},
            </if>
            <if test="electricityFailure != null">
                #{electricityFailure,jdbcType=TINYINT},
            </if>
            <if test="explanation != null">
                #{explanation,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

    <insert id="insertAll" parameterType="java.util.List">
        INSERT INTO status_record_component
        (id, addr_code, normal_run, fire_alarm, breakdown, shield, supervision, started, feedback,
        delay, electricity_failure, explanation, gmt_create)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id,jdbcType=BIGINT}, #{item.addrCode,jdbcType=INTEGER}, #{item.normalRun,jdbcType=TINYINT},
            #{item.fireAlarm,jdbcType=TINYINT}, #{item.breakdown,jdbcType=TINYINT}, #{item.shield,jdbcType=TINYINT},
            #{item.supervision,jdbcType=TINYINT}, #{item.started,jdbcType=TINYINT}, #{item.feedback,jdbcType=TINYINT},
            #{item.delay,jdbcType=TINYINT}, #{item.electricityFailure,jdbcType=TINYINT}, #{item.explanation,jdbcType=VARCHAR},
            #{item.gmtCreate,jdbcType=TIMESTAMP})
        </foreach>
    </insert>
</mapper>